*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2a2d43;
}
h1{
    background-color: #7f2ccb;
    color: #ffa9e7;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    background-color: rgba(52,127,196,0.5);  
    cursor:pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    color: #ffa9e7;

    margin-top: 3rem;
    font-size: 2rem;
}
#user , #computer {
    font-size: 4rem;
    text-align: center;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#msg{
    /* width: 15rem; */
    background-color: #7f2ccb;
    color: #ffa9e7;
    margin-top: 3rem;
    /* margin-left: 40vw; */
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}